<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- Meta tags Obrigatórias -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <nav class="navbar navbar-expand navbar-dark" style="background-color: #215E21;">
            <a class="navbar-brand" href="/maquinas/cadastro">Cadastro de Máquina</a>

            <div class="" id="conteudoNavbarSuportado">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/maquinas/listar">Listar</a>
                    </li>
                </ul>
            </div>
        </nav>
    </head>
    <body>
        <div class="container">
            <br>
            <form method="POST">
                <div class="form-group">
                    <label>Breve descrição da máquina</label>
                    <input type="text" class="form-control" name="descricao" id="descricao">
                </div>
                <div class="form-group">
                    <label>Capacidade Nominal</label>
                    <input type="number" class="form-control" name="capacidadeNominal" id="capacidadeNominal">
                </div>
                <div class="form-group">
                    <label>Escala de Capacidade</label>
                    <input type="number" class="form-control" name="escalaCapacidade" id="escalaCapacidade">
                </div>
                <div class="form-group">
                    <label>Unidade</label>
                    <input type="text" class="form-control" name="unidade" id="unidade">
                </div>
                <div class="form-group">
                    <label>Setor</label>
                    <input type="text" class="form-control" name="setor" id="setor">
                </div>
                <div class="form-group">
                    <label>Timeout de Produção</label>
                    <input type="number" class="form-control" name="timeoutProducao" id="timeoutProducao">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </body>
</html>